<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
<!--HEADER MODULARIZADO-->
<%- include('./partials/header.ejs')%>

    <div class="caja-cambio">
      <form action="/formulario" method="POST">
        <div class="caja-input">
          <input id="entrada" type="number" value="100">
          <select name="select1">
            <option value="">Tipo de cambio</option>
            <% mediosdepago.forEach(medio=>{%>
              <option id="primero" value="<%-medio.id%>">
                <%-medio.nombre%>
              </option>
              <%}) %>
          </select>
        </div>
        <div class="caja-input">
          <input id="salida" type="number">
          <select name="select2">
            <option value="">Cotizar a </option>
            <% mediosdepago.forEach(medio=>{%>
              <option value="<%-medio.id%>">
                <%-medio.nombre%>
              </option>
              <%}) %>
          </select>
        </div>
        <div class="caja-input">
          <button type="submit" class="btn btn-success">Siguiente</button>
        </div>
      </form>
    </div>
    <div class="caja-info">
      <h3 class="info-compra">Comprá en 3 sencillos pasos</h3>
      <ol>
        <li>Cotizas y haces tu pedido</li>
        <li>Recibes las instrucciones para hacer tu envío</li>
        <li>Te enviamos el saldo cotizado</li>
      </ol>
    </div>
    <div class="mas-info">

    </div>
<%- include('./partials/footer.ejs') %>