<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
<!--HEADER MODULARIZADO-->
<%- include('./partials/header.ejs')%>

    <div class="caja-cambio">
      <form action="/formulario" method="POST">
        <div class="caja-input">
          <input id="numEntrada" name="numEntrada" type="number">
          <select id="origen" name="origen">
            <% pagos.forEach(dato=>{%>
              <option value="<%-dato.id%>">
                <%-dato.nombre%>
              </option>
              <%}) %>
          </select>
        </div>
        <div class="caja-input">
          <input id="numSalida" name="numSalida" type="number">
          <select id="destino" name="destino">
            <% pagos.forEach(dato=>{%>
              <option value="<%-dato.id%>">
                <%-dato.nombre%>
              </option>
              <%}) %>
          </select>
        </div>
        <div class="caja-input">
          <button type="submit" class="btn btn-success">Siguiente</button>
        </div>
      </form>
      <span class="text-danger" id="msgError"></span>
    </div>
    <div class="caja-info">
      <h3 class="info-compra">Comprá en 3 sencillos pasos</h3>
      <ol>
        <li>Cotizas y haces tu pedido</li>
        <li>Recibes las instrucciones para hacer tu envío</li>
        <li>Te enviamos el saldo cotizado</li>
      </ol>
    </div>
    <div class="mas-info">

    </div>
<%- include('./partials/footer.ejs') %>