<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
  <!--HEADER MODULARIZADO-->
  <%- include('./partials/header.ejs')%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=%C2%A1Hola!%20Quer%C3%ADa%20saber%20m%C3%A1s%20informaci%C3%B3n%20para%20realizar%20la%20operaci%C3%B3n"
      class="whatsapp" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>
    <div class="caja-cambio">
      <form action="#formulario" method="POST">
        <div class="caja-input">
          <div class="inputEntrada">
            <input id="numEntrada" class="numEntrada" name="numEntrada" value="1000" type="number" step=".01">
          </div>
          <div class="selectCambioEntrada">
            <div class="select" id="selectEntrada">
              <div class="contenido-select-Entrada">
                <img class="img-pagos" src="/img/img_medios_de_pagos/<%=pagos[0].image%>.png" alt="<%=pagos[0].nombre%>">
                <h4 type="text" id="tituloOrigen" class="idOcultado" data-id="<%=pagos[0].id%>"></h4>
              </div>
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="opciones" id="opcionesEntrada">
              <% pagos.forEach(dato=> { %>
                <a href="#" class="opcionEntrada">
                  <div class="contenido-opcion">
                    <img src="/img/img_medios_de_pagos/<%-dato.image%>.png" alt="<%-dato.nombre%>">
                    <h4 type="text" id="tituloOrigen" class="idOcultado" data-id="<%- dato.id%>"></h4>
                  </div>
                </a>
                <% }) %>
            </div>
          </div>
        </div>
        <div class="caja-input">
          <div class="inputSalida">
            <input id="numSalida" name="numSalida" type="number" step=".01">
          </div>
          <div class="selectCambioSalida">
            <div class="select" id="selectSalida">
              <div class="contenido-select-Salida">                
                <img class="img-pagos" src="/img/img_medios_de_pagos/<%=pagos[2].image%>.png" alt="<%=pagos[2].nombre%>">
                <h4 type="text" id="tituloOrigen" class="idOcultado" data-id="<%=pagos[2].id%>"></h4>
              </div>
              <i class="fas fa-angle-down"></i>
            </div>

            <div class="opciones" id="opcionesSalida">
              <% pagos.forEach(dato=> { %>
                <a href="#" class="opcionSalida">
                  <div class="contenido-opcion">
                    <img src="/img/img_medios_de_pagos/<%-dato.image%>.png" alt="<%-dato.nombre%>">
                    <h4 type="text" id="tituloDestino" class="idOcultado" data-id="<%- dato.id%>"></h4>
                    </span>
                  </div>
                </a>
                <% }) %>
            </div>
          </div>
        </div>
        </script>
        <div class="caja-input">
          <div class="btnSiguiente">
            <button id="hide" type="button" class="btn btn-success">Siguiente</button>
          </div>
        </div>
        <input type="hidden" name="origen" id="metodoOrigen" value="<%= pagos[0].id %> ">
        <input type="hidden" name="destino" id="metodoDestino" value="<%= pagos[2].id %> ">
        <span class="text-danger" id="msgError"></span>
      </form>
    </div>
    <%- include('./form.ejs') %>
      <div id="caja-info" class="caja-info">

        <h3 class="info-compra">Comprá en 3 sencillos pasos</h3>
        <ol>
          <li>Cotizá tu pedido</li>
          <li>Recibí las instrucciones en tu mail para hacer tu envío</li>
          <li>Te enviamos el saldo cotizado</li>
        </ol>
      </div>
      <div class="mas-info">

      </div>
      

      <script src="../javascripts/<%=JQueryForm %>"></script>
      <script src="/javascripts/<%=scriptForm%>"></script>
      <script src="/javascripts/<%=script%>"></script>
      <%- include('./partials/footer.ejs') %>
